:root {
    --primary-color : #346751 ;
}

* {
    margin : 0 ; 
    padding : 0 ; 
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #395B64;
        color: white;
        user-select: none;
    margin: 10PX 50px;
}

button:active {
    background-color: orange;
    color : black ;
}

.title_system {
    text-align: center;
        margin: 10px 0;
        background-color: var(--primary-color);
        padding : 10px;
        border: 2px solid white;
}

.subtile_system {
    background-color: var(--primary-color);;
    padding : 10px;
    border: 2px solid white;
    text-align: center;
        margin-bottom: 10px;
        font-size: 18px;
        color : white;
        font-weight: 550;
}

.container {
    border: 2px solid white;
    padding : 15px ; 
    display: flex;
    flex-wrap: wrap;
    /* border-radius: 5px; */
    
}

.control {
    border: 2px solid goldenrod; 
    padding : 10px ;
    /* border-radius: 5px; */
}
.btn_group {
    text-align: center;
    margin-top: 20px;
}
.btn {
    padding : 13px 20px ;
    border-radius: 5px;
    color : white;
    cursor: pointer;
    /* width: 100px; */
    /* height: 100px ; */
    font-size: 18px;
    /* border-width: 5px; */
    outline: none;
    border-width: 1.5px;

}

.btn_start {
    background-color: #14a90f;
    border-color: white;
    width: 49%;
    /* margin: 0 5px; */

}
.btn_stop {
    background-color: rgb(198, 17, 17);
    border-color: white;
    width: 49%;
    /* margin: 0 5px; */
}

.state_system1 {
    /* width: 100%; */
    /* height: 50px; */
    text-align: center;
    /* margin: 10px; */
    background-color: #ccc;
    padding : 20px ; 
    border-radius: 2px;
    
    
    
}
.state_on {
    background-color : rgb(235, 191, 80) ; 
}
.sate_off {
    background-color: #ccc;
    /* background-color:  ; */
    
}

/*  */
table {
    border: 1.5px solid;
    padding: 2px;
    width: 100%;
    height: 100%;
}

td {
    border: 1.5px solid;
    text-align: center;
    /* border-radius: 3px; */
    /* padding : 5px ; */
    /* margin: 5px; */
}
tr {
    /* padding: 5px; */
    
}

td {
    padding : 10px  ;
    padding-left: 15px;
    text-transform: uppercase;
    background-color: #8B9A46;
}


.state {
    margin-left: 10px;
    border: 2px solid goldenrod;
        padding: 10px;
        display: flex;
        flex-direction: column;
        /* border-radius: 5px; */
}
.btn_reset {
    width: 100%;
    padding : 15px 0 ; 
    cursor: pointer;
    color : white;
    font-size: 18px;
    margin-top: 10px;
    background-color: #14a90f;
    border-color: white;
    border-width: 1.5px;

}

.state_device {
    /* margin-left: 20px; */
        border: 2px solid goldenrod;
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 100%;
        text-align: center;
        margin: 10px auto 0;
        background-color: #fff;
}

.conveyor {
    width: 350px;
}

.state_actuator_on {
    width: 30px ;
    height: 30px;
    background-color: rgb(216, 36, 36);
    border-radius: 50%;
}

.state_actuator_off {
    width: 30px ;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
}

